name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6
    - name: install dependencies
      run: npm install
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag nodejsapp:${{ github.sha }}
